@media (min-width:1200px) and (max-width: 1500px) {
  #puppy_showcase {
    margin-bottom: 6.3rem;
  }
}

@media (min-width:950px) and (max-width: 1200px) {
  #puppy_showcase {
    margin-bottom: 12.4rem;
  }
}

@media (max-width: 1200px) {
  // o_nás : info - eninka
  .grid_info {
    flex-direction: column;
    align-items: center;

    .grid_info_item {

      .eninka_stats {
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
        margin-bottom: 1rem;
      }

      img {
        padding-right: 1rem;
      }
    }  
  }
}

@media (max-width: 950px) {
  // footer
  #footer {
  
    .footer_container {
      flex-direction: column;
      height: none;

      #item_container_1 {
        padding-top: 1rem;
      }

      #item_container_2 {
        margin-bottom: 0;

        a {
          margin-bottom: 0;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
  // Kontakt
  .flex_template {
    grid-template-columns: repeat(1, 1fr) !important;
    
    .item_contact_2 {
      display: flex !important;
      align-items: flex-start;
      justify-content: center;

      .item_contact_2_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      }
    }
  }

  .no_scroll {
    overflow: unset;
  }

  // News
  .grid_news {
    display: flex !important;

    .recent_news_text {
      display: flex !important;
    }

    .recent_news_image {
      display: none;
    }
  }

  // Grid Puppies
  .grid_puppies {
    grid-template-columns: repeat(2,1fr) !important;
  }

  // Grid Specific Puppie
  .grid_specific_puppie {
    display: flex;
    flex-direction: column;
  }

  // Galerie
  .grid_gallery {
    grid-template-columns: repeat(2,1fr) !important;
  }

  // Galerie puppies
  .grid_puppies_gallery {
    grid-template-columns: repeat(2,1fr);
  }

  // Adress container
  #adress_container {
    margin-bottom: 1rem !important;
  }
  //  Achievements grid
  .grid_achievement {
    grid-template-columns: repeat(2,1fr) !important;
  }
}

@media (max-width: 650px) {
  // Social
  .flex_template {
    .item_contact_2 {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  // Form
  .flex_template {
    form {
      display: flex !important;
      flex-direction: column;
      align-items: center !important;
    }

    .flex_item_contact_1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    } 
  }

  // eninka stats
  .eninka_stats {
    a {
      text-align: center;
    }
  }
  // Index
  #index_scroll {
    .basic_info_station {
      flex-direction: column-reverse;

      i {
        padding-bottom: 1rem;
      }
    }

    .basic_info_dog {
      flex-direction: column;

      i {
        padding-bottom: 1rem;
      }
    }

    .grid_gallery_index {
      grid-template-columns: repeat(1,1fr);
    }

    .basic_info_stats {
      grid-template-columns: repeat(1,1fr) !important;

      .basic_info_tab_primary {
        &:nth-child(1) {
          border-bottom-left-radius: 0px !important;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        } 

        &:last-child {
          border-top-right-radius: 0px !important;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
    }

    .basic_info_shows {
      flex-direction: column-reverse;
      .tab_shows:first-child {
        padding-top: 1rem;
      }

      .index_icon {
        padding: 0 0 1rem 0 !important;
      }
    }

    .flex_news {
      flex-direction: column-reverse;
      
      .news_icon {
        align-self: center;
        padding: 1rem;
      }
    }
  }

  // Footer 
  .footer_container {
    flex-direction: column !important;

    #item_container_1 {
      text-align: center;
    }
    
    #item_container_2 {
      flex-direction: column !important;
    }
  }
  // #Štěňata - info 
  #puppie_info {
    .flex_puppie_info {
      flex-direction: column-reverse !important;
      text-align: left;
    }
  }
}

@media (max-width: 600px) {
  // Navigation
  .landing_secondary {
    height: 8vh !important;

    &:before {
      content: '';
      height: 8vh !important;
    }
  }

  // Galerie
  .grid_gallery {
    grid-template-columns: repeat(1,1fr) !important;
  }

  // Galerie puppies
  .grid_puppies_gallery {
    grid-template-columns: repeat(1,1fr);
  }

  // Grid Puppies
  .grid_puppies {
    grid-template-columns: repeat(1,1fr) !important;
  }
}

@media (max-width: 360px) {
  // Footer 
  #footer {
    #item_container_2 {
      a {
        padding: 0 0.2rem;
      }
    }
  }

  // O nás - Úspěchy
  .grid_achievement {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  // Top Menu Fix
  .landing_secondary {
    height: 12vh !important;

    &::before {
      height: 12vh !important;
    }
  }
  // Kontakt - Adress Container
  #adress_container {
    padding: 1rem 0.5rem !important;
  }
  // Kontakt - formulář
  .flex_template {
    padding: 1rem 0 !important;

    .input_form {
      padding: 0.2rem 0 !important;
    }

    .form_item {
      padding: 1rem 0 !important;
    }

    .btn_light {
      padding: 0.5rem !important;
      width: 80% !important;
      margin: 0 !important;
    }
  }
}