$device_width: 1280px;
$wider_width: 1600px;
$accordions_width: 600px;
$black_color: #000000;
$dark_color: #333333;
$black_overlay_color: rgba(0, 0, 0, 0.35);
$white_color: #ffffff;
$primary_overlay_color: rgb(66, 219, 122);
$primary_color:rgb(66, 219, 122);
$footer_creator_color: #CD6161;