@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");
.container {
  max-width: 1280px;
  padding: 1rem;
  overflow: hidden;
  margin: auto;
}

.container_index {
  max-width: 1280px;
  padding: 1rem;
  overflow: hidden;
  margin: auto;
}

.container_navigation {
  max-width: auto;
  padding: 1rem;
  overflow: hidden;
  margin: auto;
}

.container_wide {
  max-width: 1600px;
  padding: 1rem;
  overflow: hidden;
  margin: auto;
}

.no_scroll {
  overflow: hidden;
}

.large_heading {
  font-size: 2rem;
  font-weight: 400;
  border-left: 3px solid #42db7a;
  padding-left: 0.5rem;
  margin: 1rem 0;
}

.large_heading_showcase {
  font-size: 4rem;
  font-weight: 300;
}

.large_heading_contact {
  font-weight: 3rem;
  font-weight: 700;
  border-left: 3px solid #42db7a;
  padding-left: 0.5rem;
  margin: 1rem 0;
}

.large_heading_light {
  font-size: 2rem;
  font-weight: 400;
  border-left: 3px solid #ffffff;
  padding-left: 0.5rem;
  margin: 1rem 0;
}

.large_heading_puppies_placeholder {
  font-size: 3rem;
  padding-left: 0.5rem;
  border-left: 3px solid #42db7a;
}

.item_heading {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 700;
}

.item_heading_tab {
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: 700;
  padding-left: 0.5rem;
  border-left: 3px solid #ffffff;
}

.layout_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout_showcase {
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item_text {
  color: #ffffff;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.item_text_puppies_placeholder {
  color: #333333;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

.puppy_text {
  color: #333333;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

.puppy_text_status_free {
  font-size: 1.2rem;
  color: #42db7a;
  font-weight: bold;
}

.puppy_text_status_taken {
  font-size: 1.2rem;
  color: #FF2626;
  font-weight: bold;
}

.achievement_heading {
  font-size: 2rem;
  text-align: center;
}

.achievement_detail {
  font-size: 1rem;
}

.btn_light, .btn_dark, .btn_yellow {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  margin: 0.5rem 0;
}

.btn_light {
  color: #000000;
  background: #ffffff;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn_light:hover {
  color: #42db7a;
  border: #42db7a;
}

.btn_dark {
  color: #ffffff;
  background: #000000;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn_transparent_free {
  display: inline-block;
  padding: 0.5rem 0;
  border: none;
  cursor: pointer;
  font-weight: 400;
  border-radius: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn_transparent_free:hover {
  border-left: 3px #42db7a solid;
  color: #42db7a;
  padding: 0.5rem;
}

.btn_transparent_taken {
  display: inline-block;
  padding: 0.5rem 0;
  border: none;
  cursor: pointer;
  font-weight: 400;
  border-radius: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn_transparent_taken:hover {
  border-left: 3px #FF2626 solid;
  color: #FF2626;
  padding: 0.5rem;
}

.btn_yellow {
  color: #42db7a;
  background-color: #ffffff;
  border: 3px solid #42db7a;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn_yellow:hover {
  color: #ffffff;
  background-color: #42db7a;
}

.return_button {
  margin: 0 0 1.5rem 5rem;
  font-size: 1.3rem;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.return_button:hover {
  margin-left: 4.5rem;
  color: #42db7a;
}

#footer {
  background: #333333;
  width: auto;
}

#footer p, #footer a {
  color: #ffffff;
}

#footer .footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4rem 0 3rem;
}

#footer #item_container_1 a {
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#footer #item_container_1 a:hover {
  color: #CD6161;
}

#footer #item_container_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer #item_container_2 i {
  padding-right: 0.5rem;
}

#footer #item_container_2 a {
  margin: 1rem;
  color: #ffffff;
  padding: 0 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#footer #item_container_2 a:hover {
  color: #42db7a;
}

.line {
  width: 200px;
  height: 3px;
  display: inline-block;
  background-color: #42db7a;
  margin: 0.5rem 0;
}

.grid_gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grid_gallery_hidden {
  display: none;
}

.grid_gallery_index {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid_gallery_index img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.grid_gallery_index img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.grid_gallery img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.grid_gallery img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.grid_puppies_gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid_puppies_gallery img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.grid_puppies_gallery img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#puppies_litters .grid_vrh_info_text {
  font-size: 1.5rem;
}

#puppies_litters {
  height: 85.3vh;
}

#puppies_litters .grid_vrh {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  border-bottom: solid 3px #42db7a;
  padding: 0.5rem;
}

#puppies_litters .grid_vrh #grid_vrh_inner_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#puppies_litters .grid_vrh #grid_vrh_content_centered {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#puppies_litters .grid_vrh_content #img_hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#puppies_litters .grid_vrh_content #img_hover:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#puppies_litters .grid_vrh_info_text {
  font-size: 1.5rem;
  font-weight: normal;
}

#puppies_litters .grid_vrh_parent_link {
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#puppies_litters .grid_vrh_parent_link:hover {
  color: #42db7a;
  padding-left: 0.2rem;
}

.pad_icon {
  padding: 0 1rem;
}

@media (max-width: 1200px) {
  .grid_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grid_info .grid_info_item .eninka_stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 1rem;
  }
  .grid_info .grid_info_item img {
    padding-right: 1rem;
  }
}

@media (max-width: 950px) {
  #footer .footer_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: none;
  }
  #footer .footer_container #item_container_1 {
    padding-top: 1rem;
  }
  #footer .footer_container #item_container_2 {
    margin-bottom: 0;
  }
  #footer .footer_container #item_container_2 a {
    margin-bottom: 0;
    padding-bottom: 0.5rem;
  }
  .flex_template {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .flex_template .item_contact_2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex_template .item_contact_2 .item_contact_2_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .no_scroll {
    overflow: unset;
  }
  .grid_news {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .grid_news .recent_news_text {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .grid_news .recent_news_image {
    display: none;
  }
  .grid_puppies {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  .grid_specific_puppie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid_gallery {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  #adress_container {
    margin-bottom: 1rem !important;
  }
  .grid_achievement {
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
  }
  #puppy_showcase {
    height: 75vh;
  }
}

@media (max-width: 768px) {
  #puppies_litters .grid_vrh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #puppies_litters #grid_vrh_inner_flex {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .grid_puppies_gallery {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 650px) {
  #puppies_litters #grid_vrh_inner_flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .flex_template .item_contact_2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flex_template form {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .flex_template .flex_item_contact_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .eninka_stats a {
    text-align: center;
  }
  #index_scroll .basic_info_station {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #index_scroll .basic_info_station i {
    padding-bottom: 1rem;
  }
  #index_scroll .basic_info_dog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #index_scroll .basic_info_dog i {
    padding-bottom: 1rem;
  }
  #index_scroll .grid_gallery_index {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #index_scroll .basic_info_stats {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  #index_scroll .basic_info_stats .basic_info_tab_primary:nth-child(1) {
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  #index_scroll .basic_info_stats .basic_info_tab_primary:last-child {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #index_scroll .basic_info_shows {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #index_scroll .basic_info_shows .tab_shows:first-child {
    padding-top: 1rem;
  }
  #index_scroll .basic_info_shows .index_icon {
    padding: 0 0 1rem 0 !important;
  }
  #index_scroll .flex_news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #index_scroll .flex_news .news_icon {
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    padding: 1rem;
  }
  .footer_container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .footer_container #item_container_1 {
    text-align: center;
  }
  .footer_container #item_container_2 {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  #puppie_info .flex_puppie_info {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .landing_secondary {
    height: 8vh !important;
  }
  .landing_secondary:before {
    content: '';
    height: 8vh !important;
  }
  .grid_gallery {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .grid_puppies {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 360px) {
  #footer #item_container_2 a {
    padding: 0 0.2rem;
  }
  .grid_achievement {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .landing_secondary {
    height: 12vh !important;
  }
  .landing_secondary::before {
    height: 12vh !important;
  }
  #adress_container {
    padding: 1rem 0.5rem !important;
  }
  .flex_template {
    padding: 1rem 0 !important;
  }
  .flex_template .input_form {
    padding: 0.2rem 0 !important;
  }
  .flex_template .form_item {
    padding: 1rem 0 !important;
  }
  .flex_template .btn_light {
    padding: 0.5rem !important;
    width: 80% !important;
    margin: 0 !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  width: 100%;
}

.landing {
  background: rgba(0, 0, 0, 0.35);
  height: 100vh;
}

.landing:before {
  content: '';
  background: url(../images/placeholders/landing.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.landing_secondary {
  background: rgba(0, 0, 0, 0.35);
  height: 8vh;
}

.landing_secondary:before {
  content: '';
  background: url(../images/placeholders/landing.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  z-index: -1;
}

.landing .layout_showcase {
  margin-left: 1rem;
}

.landing .layout_showcase #item_showcase_1 {
  color: #ffffff;
}

.landing .layout_showcase #item_showcase_2 p {
  color: #ffffff;
  font-size: 1.5rem;
}

.grid_news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  background: #42db7a;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.grid_news .recent_news_text {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0.5rem;
}

.grid_news .recent_news_text .btn_light {
  width: 120px;
  font-size: 1.2rem;
  justify-self: flex-end;
}

.grid_news .recent_news_text .item_text {
  color: #ffffff;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.flex_template {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  background: #42db7a;
  border-radius: 10px;
}

.flex_template form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex_template form .form_3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.flex_template form .form_4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.flex_template form .form_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 1rem;
}

.flex_template form .form_item .input_form {
  line-height: 1.6rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: solid 1px #42db7a;
  padding: 0.2rem;
}

.flex_template form .form_item .input_form:focus {
  outline: none;
}

.flex_template form .form_item .label_form {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.2rem;
}

.flex_template form .btn_light {
  padding: 1rem;
  width: 60%;
}

.flex_template .btn_light {
  margin-left: 1rem;
}

.flex_template .item_contact_2 .item_contact_2_content {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.flex_template .item_contact_2 .item_contact_2_content .item_contact_2_content_text {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
}

.flex_template .item_contact_2 .item_contact_2_content i {
  padding: 0.5rem 0.5rem;
}

.flex_template .item_contact_2 .item_contact_2_content a {
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.flex_template .item_contact_2 .item_contact_2_content a:hover {
  color: #333333;
}

.flex_template .item_contact_2 .item_contact_2_content .content_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#adress_container {
  background-color: #42db7a;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  margin-bottom: 6.2rem;
}

#adress_container a {
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#adress_container a:hover {
  color: #333333;
}

#form_message .flex_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #42db7a;
  border-radius: 10px;
  padding: 3rem 1rem;
}

#form_message .flex_message h2 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#form_message .flex_message h2:hover {
  color: #42db7a;
}

#form_message .flex_message a {
  margin: 1rem 1.5rem;
}

#index_scroll .content {
  position: relative;
}

#index_scroll .content .index_icon {
  color: #42db7a;
}

#index_scroll .content .basic_info_tab .index_icon {
  color: #42db7a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#index_scroll .content .basic_info_tab .index_icon:hover {
  color: #333333;
}

#index_scroll .content .basic_info_station {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0 5rem;
  padding: 3rem 1rem;
  border: 3px solid #42db7a;
  border-radius: 10px;
}

#index_scroll .content .basic_info_station h4 {
  font-size: 2rem;
  color: #42db7a;
}

#index_scroll .content .basic_info_station p {
  font-size: 1.4rem;
}

#index_scroll .content .basic_info_dog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5rem 0;
  padding: 3rem 1rem;
  background-color: #42db7a;
  border-radius: 10px;
  color: #ffffff;
}

#index_scroll .content .basic_info_dog .index_icon {
  color: #ffffff;
}

#index_scroll .content .basic_info_dog h4 {
  font-size: 2rem;
}

#index_scroll .content .basic_info_dog p {
  font-size: 1.4rem;
}

#index_scroll .content .basic_info_dog a {
  font-weight: bold;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#index_scroll .content .basic_info_dog a:hover {
  color: #333333;
}

#index_scroll .content .basic_info_stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 5rem 0;
}

#index_scroll .content .basic_info_stats .basic_info_tab_primary {
  background-color: #42db7a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#index_scroll .content .basic_info_stats .basic_info_tab_primary:hover {
  background-color: #ffffff;
}

#index_scroll .content .basic_info_stats .basic_info_tab_primary:hover i, #index_scroll .content .basic_info_stats .basic_info_tab_primary:hover p {
  color: #42db7a;
}

#index_scroll .content .basic_info_stats .basic_info_tab_primary:nth-child(1) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#index_scroll .content .basic_info_stats .basic_info_tab_primary:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#index_scroll .content .basic_info_stats .basic_info_tab_primary .index_icon {
  color: #ffffff;
}

#index_scroll .content .basic_info_stats .basic_info_tab_primary p {
  font-size: 1.5rem;
  color: #ffffff;
  padding: 0 1rem;
}

#index_scroll .content .basic_info_stats .basic_info_tab_secondary {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  border: 3px solid #42db7a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#index_scroll .content .basic_info_stats .basic_info_tab_secondary:hover {
  background-color: #42db7a;
}

#index_scroll .content .basic_info_stats .basic_info_tab_secondary:hover i, #index_scroll .content .basic_info_stats .basic_info_tab_secondary:hover p {
  color: #ffffff;
}

#index_scroll .content .basic_info_stats .basic_info_tab_secondary p {
  color: #42db7a;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

#index_scroll .content .basic_info_shows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5rem 0;
  padding: 2.5rem 1rem;
  border: 3px solid #42db7a;
  border-radius: 10px;
}

#index_scroll .content .basic_info_shows h4 {
  font-size: 1.4rem;
  color: #42db7a;
}

#index_scroll .content .basic_info_shows p {
  font-size: 1.2rem;
}

#index_scroll .content .basic_info_shows h6 {
  font-size: 1rem;
}

#index_scroll .content .basic_info_shows .index_icon {
  padding: 0 4rem 0 0;
}

#index_scroll .content .flex_news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1rem;
  margin: 1rem 0;
}

#index_scroll .content .news_primary {
  padding: 1rem;
  border-radius: 10px;
  border: solid 3px #42db7a;
  margin: 1rem;
}

#index_scroll .content .news_primary .news_item h4 {
  font-size: 1.6rem;
  color: #42db7a;
}

#index_scroll .content .news_primary .news_item h6 {
  color: #42db7a;
  font-size: 1rem;
}

#index_scroll .content .news_primary .news_item p {
  font-size: 1.3rem;
}

#index_scroll .content .news_primary .news_item i {
  color: #42db7a;
}

#index_scroll .content .news_primary .news_icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 1rem;
}

#index_scroll .content .news_secondary {
  background-color: #42db7a;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
}

#index_scroll .content .news_secondary .news_item h4 {
  font-size: 1.6rem;
  color: #ffffff;
}

#index_scroll .content .news_secondary .news_item h6 {
  color: #ffffff;
  font-size: 1rem;
}

#index_scroll .content .news_secondary .news_item p {
  font-size: 1.3rem;
  color: #ffffff;
}

#index_scroll .content .news_secondary .news_item i {
  color: #ffffff;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1rem;
}

#index_scroll .content .news_secondary .news_item span {
  font-weight: bold;
  color: #ffffff;
}

#puppy_showcase {
  height: 85.2vh;
}

#puppy_showcase .grid_puppies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

#puppy_showcase .grid_puppies .puppy_text_status_free {
  color: #42db7a;
}

#puppy_showcase .grid_puppies .puppy_text_status_taken {
  color: #FF2626;
}

#puppies_placeholder .flex_puppies_placeholder {
  margin-bottom: 42.5rem;
}

#puppie_info .flex_puppie_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#puppie_info .flex_puppie_info .puppie_info_item {
  padding: 1rem 0;
}

#puppie_info .flex_puppie_info .puppie_info_item h4 {
  font-size: 2.2rem;
  color: #333333;
}

#puppie_info .flex_puppie_info .puppie_info_item p {
  font-size: 1.4rem;
}

#puppie_info .taken {
  border-bottom: solid 3px #FF2626;
}

#puppie_info .free {
  border-bottom: solid 3px #42db7a;
}
/*# sourceMappingURL=main.css.map */