@import 'variables';
@import 'fragments';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@import 'mobile';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $black_color;
}

img {
  width: 100%;
}

// Landing Page

.landing {
  background: $black_overlay_color;
  height: 100vh;
  
  &:before {
    content: '';
    background: url(../images/placeholders/landing.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &_secondary {
    background: $black_overlay_color;
    height: 8vh;

    &:before {
      content: '';
      background: url(../images/eninka_landing_1.jpg) no-repeat center center/cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 8vh;
      z-index: -1;
    }
  }

  .layout_showcase {
    margin-left: 1rem;

    #item_showcase_1 {
    color: $white_color;
    }

    #item_showcase_2 {
      p {
        color: $white_color;
        font-size: 1.5rem;
      }
    }
  }
}
//Landing Page - News
.grid_news {
  display:grid;
  grid-template-columns: repeat(4,1fr);
  background: $primary_color;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 3rem;

  .recent_news_text {
    grid-column-start: 1;
    grid-column-end:4;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;

    .btn_light {
      width: 120px;
      font-size:1.2rem ;
      justify-self: flex-end;
    }

    .item_text {
      color: $white_color;
      padding: 0.5rem 0;
      font-size: 1.2rem;
      padding: 0.5rem 0.5rem 0.5rem 0
    }
  }
}

// Kontakt
.flex_template {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  background: $primary_color;
  border-radius: 10px;

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .form_3 {
      grid-column: 1/3;
    }

    .form_4 {
      grid-column: 1/3;
    }

    .form_item {
      display: flex;
      flex-direction: column;
      padding:  0.5rem 1rem;

      .input_form {
        line-height: 1.6rem;
        font-size: 1.2rem;
        border-radius: 10px;
        border: solid 1px $primary_color;
        padding: 0.2rem;

        &:focus {
          outline: none;
        }
      }

      .label_form {
        color: $white_color;
        font-weight: 700;
        font-size: 1.2rem;
      }
    }

    .btn_light {
      padding: 1rem;
      width: 60%;
    }
  }

  .btn_light {
    margin-left: 1rem;
  }

  .item_contact_2 {
    .item_contact_2_content {
      padding: 0.5rem 1rem;
      margin-bottom: 0.5rem;

      .item_contact_2_content_text {
        font-size: 1.2rem;
        font-weight: 700;
        color: $white_color;
      }

      i {
        padding: 0.5rem 0.5rem;
      }
      
      a {
        color: $white_color;
        transition: all 0.3s;

        &:hover {
          color: $dark_color;
        }
      }

      .content_social {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

// Kontakt - adresa

#adress_container {
  background-color: $primary_color;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  margin-bottom: 6.2rem;

  a {
    color: $white_color;
    transition: all 0.3s;

    &:hover {
        color: $dark_color;
    }
  }
}

// Kontakt - odeslaná zpráva
#form_message {

  .flex_message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid $primary_color;
    border-radius: 10px;
    padding: 3rem 1rem;

    h2 {
      transition: all 0.3s;

      &:hover {
        color: $primary_color;
      }
    }

    a {
      margin: 1rem 1.5rem;
    }
  }
}

// O nás
#index_scroll {

  .content {
    position: relative;

    .index_icon {
      color: $primary_color;
    } 

    .basic_info {

      &_tab {

        .index_icon {
          color: $primary_color;
          transition: all 0.3s;

          &:hover {
            color: $dark_color;
          }
        } 
      }

      &_station {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0 5rem;
        padding: 3rem 1rem;
        border: 3px solid $primary_color;
        border-radius: 10px;

        h4 {
          font-size: 2rem;
          color: $primary_color;
        }

        p {
          font-size: 1.4rem;
        }
      }

      &_dog {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5rem 0;
        padding: 3rem 1rem;
        background-color: $primary_color;
        border-radius: 10px;
        color: $white_color;

        .index_icon {
          color: $white_color;
        }

        h4 {
          font-size: 2rem;
        }

        p {
          font-size: 1.4rem;
        }
      }

      &_stats {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 5rem 0;

        .basic_info_tab {

          &_primary {
            background-color: $primary_color;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            transition: all 0.3s;

            &:hover {
              background-color: $white_color;

              i, p {
                color: $primary_color;
              }
            }
            
            &:nth-child(1) {
              border-bottom-left-radius: 10px;
              border-top-left-radius: 10px;
            } 

            &:last-child {
              border-bottom-right-radius: 10px;
              border-top-right-radius: 10px;
            }

            .index_icon {
              color: $white_color;
            }

            p {
              font-size: 1.5rem;
              color: $white_color;
              padding: 0 1rem;
            }
          }

          &_secondary {
            background-color: $white_color;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            border: 3px solid $primary_color;
            transition: all 0.3s;

            &:hover {
              background-color: $primary_color;

              i, p {
                color: $white_color;
              }
            }

            p {
              color: $primary_color;
              font-weight: bold;
              font-size: 1.5rem;
              padding: 0 0.5rem;
            }
          }
        }
      }

      &_shows {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 5rem 0;
        padding: 2.5rem 1rem;
        border: 3px solid $primary_color;
        border-radius: 10px;

        h4 {
          font-size: 1.4rem;
          color: $primary_color;
        }

        p {
          font-size: 1.2rem;
        }

        h6 {
          font-size: 1rem;
        }

        .index_icon {
          padding: 0 4rem 0 0;
        }
      }
    } 

    .flex_news {
      display: flex;
      justify-content: space-between;
      padding: 2rem 1rem;
      margin: 1rem 0;
    }
    
    .news {
      &_primary {
        padding: 1rem;
        border-radius: 10px;
        border: solid 3px $primary_color;
        margin: 1rem;

        .news_item {

          h4 {
           font-size: 1.6rem;
           color: $primary_color;
          }
  
          h6 {
            color: $primary_color;
            font-size: 1rem;
          }
  
          p {
            font-size: 1.3rem;
          }
  
          i {
            color: $primary_color;
          }
        }
      }

      &_secondary {
        background-color: $primary_color;
        padding: 1rem;
        border-radius: 10px;
        margin: 1rem;

        .news_item {
         
          h4 {
           font-size: 1.6rem;
           color: $white_color;
          }
  
          h6 {
            color: $white_color;
            font-size: 1rem;
          }
  
          p {
            font-size: 1.3rem;
          }
  
          i {
            color: $white_color;
          }
        }
      }
    }
  }
} 

// Štěňata
#puppy_showcase {
  .grid_puppies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;

    .puppy_text_status {
      &_free {
        color: $primary_color;
      }

      &_taken {
        color: $red_color;
      }
    }
  }
}

#puppies_placeholder {
  .flex_puppies_placeholder {
    margin-bottom: 42.5rem;
  }
}

//Štěňata - galerie
#galerie_puppies {
  border-radius: 10px;
  margin-bottom: 3rem;
}
// Štěňata - info
#puppie_info {
  .flex_puppie_info {
   display: flex;
   align-items: center;
   justify-content: space-between;

   .puppie_info_item {
     padding: 1rem 0;

     h4 {
       font-size: 2.2rem;
       color: $dark_color;
     }

     p {
       font-size: 1.4rem;
      }
    }
  }

  .taken {
    border-bottom: solid 3px $red_color;
  }

  .free {
    border-bottom: solid 3px $primary_color;
  }
}